[submodule "ext/arduino-cmake"]
	path = ext/arduino-cmake
	url = https://github.com/arduino-cmake/arduino-cmake.git
	# Normally we would have target develop branch however
	# we are waiting on an upstream bugfix in issue #75
[submodule "ext/rfm69"]
	path = ext/rfm69
	url = https://github.com/lowpowerlab/rfm69.git
[submodule "ext/spiflash"]
	path = ext/spiflash
	url = https://github.com/lowpowerlab/spiflash.git
